@model IEnumerable<Playground.Mvc.Web.Models.SmsViewModel>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'T<"clear">lfrtip',
                order: [1, "asc"],
                tableTools: {
                    sRowSelect: "multi",
                    aButtons: ["select_all", "select_none"]
                }
            });
            $('form').on('submit', function () {
                var $form = $(this);
                var oTT = TableTools.fnGetInstance('example');
                var aData = oTT.fnGetSelectedData();
                $(aData).each(function () {
                    var $input = $('<input>', {
                        type: 'hidden',
                        name: 'selectedIdList',
                        value: $(this)[1]
                    });
                    $form.append($input);
                });
            });
            $('#example tbody tr').filter(function () {
                return $(this).data('selected') == true;
            }).each(function(){
                TableTools.fnGetInstance('example').fnSelect($(this));
            });
        });
    </script>
}

@section Styles{
    <style>
        tr td:first-child {
            text-align: center;
        }

            tr td:first-child:before {
                content: "\f096"; /* fa-square-o */
                font-family: FontAwesome;
            }

        tr.selected td:first-child:before {
            content: "\f046"; /* fa-check-square-o */
        }
    </style>
}
<hr />
<div class="container">
    @using (Html.BeginForm("UpdateSelected", "Sms", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input class="btn btn-default" type="submit" value="Update" />
    }
</div>
<hr />
<table id="example" class="table table-hover table-condensed table-responsive">
    <thead>
        <tr>
            <th class="col-md-1"></th>
            <th class="col-md-1">ID</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {   
            <tr data-selected="@item.IsSelected.ToString().ToLower()">
                <td></td>
                <td>@item.Id</td>
                <td>@Html.Raw(item.Message)</td>
            </tr>
        }
    </tbody>
</table>